# From SQL to Pandas Challenge 2

First, we'll need to set up the tables again, so we can work with them.

In [1]:
# import libraries
import pandas as pd

# load data
# This code is made to load our data stored on Google Drive
def gd_path(file_id):
    """Generate a shareable link from Google Drive file id."""
    return f"https://drive.google.com/uc?export=download&id={file_id}"

# Google Drive file ids
files_id = {
    "sales": "1fzFc9rwYmVIPaGOFmhLVxCi3kg19vNU2", 
    "publishers": "1s9E8_AVOziTrowb3wyh2jg3PV763VOyq",
    "authors": "1fEF89Nhe61EebAljKlwFwfEuokK0o6aJ"
}

# Read data from Google Drive
sales = pd.read_csv(gd_path(files_id["sales"]), sep=";")
authors = pd.read_csv(gd_path(files_id["authors"]), sep=";")
publishers = pd.read_csv(gd_path(files_id["publishers"]), sep=";")

## 1. Select first and last name from authors who have the last name "Ringer"

### Hint:


In SQL the syntax is:

```sql
SELECT au_fname, au_lname
FROM authors
WHERE au_lname="Ringer";
```

## 2. Select the order number and order date of all sales where *exactly* 20 books were sold.

### Hint:

In SQL the syntax is: 

```sql
SELECT ord_num, ord_date, qty 
FROM sales 
WHER'E qty = 20;
```

## 3. Select first and last name from authors whose last name is "Ringer" and first name is "Anne"

### Hint:

In SQL the syntax is:

```sql
SELECT au_fname, au_lname
FROM authors
WHERE au_fname = "Anne"
AND au_lname = "Ringer";
```

### 4. Select the name and city of publishers based in either Germany or France

### Hint:

In SQL the syntax is:

```sql
SELECT pub_name, city 
FROM publishers 
WHERE country='Germany' 
OR country='France';
```

## 5. Select first name, last name and city from authors whose first name is "Dean" and whose city is either "Oakland" or "Berkeley"

### Hint:

In SQL the syntax is:

```sql
SELECT au_fname,au_lname,city
FROM authors
WHERE au_fname ="Dean" 
AND (city ="Oakland" OR city = "Berkeley");
```

## 6. Select the name, city and country of publishers, not based in the USA

### Hint:

The SQL syntax is:
```sql
SELECT pub_name, city,country
FROM publishers
WHERE NOT country="USA";
```

## 7. Select first name, last name and city from authors whose city is "Oakland" or "Berkeley", and last name is **not** "Straight"

### Hint:

In SQL the syntax is:
```sql
SELECT au_fname, au_lname, city 
FROM authors
WHERE (city = "Oakland" OR city = "Berkeley") 
AND NOT au_lname = "Straight";
```